.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.clear-button {
  background-color: rgb(217, 217, 217);
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.app-container {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
